<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstoneClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    
    <div>
      <a href="/client/products">ALL PRODUCTS!!!!!</a>
    </div>

    <div>
      <a href="/client/products/new">We wantses something new precious</a>
    </div>

    <%= yield %>
  </body>
</html>
